amqp==1.4.6
analytics-python==1.0.3
anyjson==0.3.3
billiard==3.3.0.20
bitly-api==0.3
celery==3.1.25
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.8
django-celery==3.1.16
django-extensions==1.5.2
django-nose==1.3
django-ratelimit==0.6.0
django-tokenapi==0.2.2
ecdsa==0.13
Fabric==1.10.1
graypy==0.2.11
jdatetime==1.4
jsonfield==1.0.3
kombu==3.0.37
newrelic==2.50.0.39
nose==1.3.6
paramiko==1.15.2
pika==0.9.14
Pillow==2.8.1
psycopg2==2.6
pycrypto==2.6.1
pymongo==3.0.3
python-dateutil==2.4.2
pytz==2015.2
redis==2.10.3
requests==2.6.0
simplejson==3.8.0
six==1.9.0
static3==0.5.1
uWSGI==2.0.14
vine==1.1.3
