<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta property="og:title" content="تایید حساب کاربری همایش یار">
    <title>تایید حساب کاربری همایش یار</title>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="-webkit-text-size-adjust: none;margin: 0;padding: 0;width: 100%;">
    <center>
    <table id="backgroundtb" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="border-collapse: collapse;">
                <!-- Template Contents -->
                    <!-- Header/ -->
                    
                    <table id="headertb" border="0" cellpadding="0" cellspacing="0" height="80" width="100%" background="#007bb6" style="background-color: #007bb6;height: 80px;background-position: top center;text-align: center;border-bottom-width: 3px;border-bottom-style: solid;border-bottom-color: #005d8a;">
                        <tr>
                            <td align="left" valign="center" style="border-collapse: collapse;">
                                <center><table class="contenttb" id="logo" border="0" cellpadding="0" cellspacing="0" width="600">
                                    <tr>
                                        <td align="left" valign="center">
                                            <h1 style="font-family: &quot;B Mitra&quot;,&quot;F Mitra&quot;,&quot;0 Mitra&quot;;text-align: left;padding: 0;line-height: 100%;margin: 0;color: #FFF;direction: rtl;font-size: 44px;">همایش یار</h1>
                                        </td>
                                    </tr>
                                </table></center>
                            </td>
                        </tr>
                    </table>
                    <!-- /Header -->
                    
                    <!-- Content/ -->
                    <table class="contenttb" id="contents" border="0" cellpadding="0" cellspacing="0" width="600" style="background: #FFFFFF;margin:0;">
                        <tr>
                            <td align="right" valign="top" colspan="2" style="border-collapse: collapse;">
                                <h1 class="yellow" style="font-family: &quot;B Mitra&quot;,&quot;F Mitra&quot;,&quot;0 Mitra&quot;;text-align: right;padding: 0;line-height: 250%;margin: 0;color: #555;text-shadow: 0px 2px 0px #f9f9f9;direction: rtl;font-size: 32px;border-bottom-width: 1px;border-bottom-color: #ccc;border-bottom-style: dashed;">ثبت نام شما با موفقیت انجام شد</h1>
                            </td>
                        </tr>
                        <tr>
                        <!-- <td align="left" valign="top" width="200"></td> -->
                            <td align="right" valign="top" width="600" style="border-collapse: collapse;">    
                                <p style="font-family: tahoma;font-size: 14px;color: #888;text-align: justify;line-height: 200%;word-break: hyphenate;direction: rtl;">کاربرگرامی، ثبت نام شما در وب سایت همایش یار با موفقیت انجام شد، هم اکنون شما می توانید با کلیک بر روی لینک زیر، حساب کاربری خود را فعال نمایید و از تمامی امکانات سایت استفاده کنید. توجه کنید، در صورتی که حساب کاربری خود را تایید نکنید، امکانات سایت برای شما محدود خواهد شد.</p>
                                
                                <a href="http://{{SERVERIP}}/register/activate/{{ACTIVATECODE}}/" id="button" width="270"  background="#007bb6" style="border-radius:5px;width:270px;height:50px;display:block;line-height:50px;text-decoration:none;text-align:center;margin-top:30px;margin-right:auto;margin-left:auto;background-color:#007bb6;color:#FFF;font:21px 'B Mitra','F Mitra',arial;font-weight:bold;"><span style="display:block;width:100%;height:100%;line-height:50px;height:50px">فعال سازی حساب کاربری</span></a>
                                <p>&nbsp;</p>
                            </td>
                            
                        </tr>

                    </table>
                
                    <!-- Footer/ -->
                    <table id="footertb" border="0" cellpadding="0" cellspacing="0" height="150" width="100%" style="margin-top:10px;background: #efefef;border-width: 2px;border-color: #ccc;border-style: solid;">
                        <tr>
                            <td align="center" valign="top" style="border-collapse: collapse;">
                                <table id="footercontents" border="0" cellpadding="0" cellspacing="0" width="600">
                                    <tr>
                                        <td align="right" valign="top" width="600" id="unsubscribe" style="border-collapse: collapse;">
                                            <p style="font-family: tahoma;font-size: 13px;color: #999;padding: 0px;margin: 0px;margin-top:20px;text-align: justify;direction: rtl;line-height: 150%;">تمام حقوق برای <a href="http://{{SERVERIP}}" style="color: #666;text-decoration: none;">شرکت همایش سازان نوین</a> محفوط است. در صورتی که مشکلی دارید با مراجعه به بخش سوالات متداول در وب سایت همایش یار، جواب سوال خود را بیابید و یا به <a href="mailto:info@hamayeshsazan.ir" style="color: #666;text-decoration: none;">همایش یار</a> ایمیل بفرستید</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <!-- /Footer -->
                <!-- End Template Contents -->
            </td>
        </tr>
    </table>
    </center>
</body>
</html>
