{% load static %}
<html>
    <head>
        <title>اپفورال | تایید ایمیل</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static 'css/framework.css' %}" media="all">
        <link rel="stylesheet" href="{% static 'css/login-style.css' %}" media="all">
        <style>
         .page-box {
             position:absolute;
             width:100%;
             overflow:hidden;
             top:30%;
             left:0;
             text-align:center;
             direction:rtl;
             font-family:roya, tahoma,  Arial, Geneva, sans-serif;
             font-size:18px;
         }

        </style>
    </head>
    <body> 
        <div class="page-box">
            <p>آدرس ایمیل شما با موفقیت تایید شد.</p>
        </div>

    </body>
</html>
