<aside class="downapplight" id="downapplight">
    <div class="dark-bg" id="downapp_bg"></div>
    <div class="downapp-content">
        <span class="close" id="downapp_close"></span>
        <div class="the-box">
            <h1>برای دانلود اپفورال بر روی آیفون و آیپد خود. لازم است سایت اپفورال را در آیفون و آیپد خود باز کنید.</h1>
            <div class="sms-box">
                <h1>و یا در صورت تمایل شماره موبایل خود را در زیر وارد کنید تا لینک دانلود اپفورال برای شما ارسال شود</h1>
                <div class="row">
                    <label>شماره موبایل شما</label>
                    <input id="mobile-number" type="text" placeholder="شماره موبایل شما" class="ltr input">
                </div>
                <div class="row">
                    <button class="ibtn submit">ارسال لینک دانلود اپفورال</button>
                </div>
            </div> <!-- /.sms-box -->
            <div class="success" style="display:none"></div>
            <div class="error" style="display: none"></div>
            <div class="loader-box" style="display: none">لطفا چند لحظه صبر کنید..</div>
            <div class="sms-text">اپفورال از شماره موبایل شما برای ارسال پیامک های دیگر و کارهای تبلیغاتی استفاده نمی کند</div>
        </div>
    </div><!--downapp-conten-->
</aside><!--downapplight-->
