<section class="signup-sect3 fa">
    <section class="invoice-stage">
        <div class="col-1-6">
            <div class="invoice-sec">
                <div class="receipt-box">
                    <div class="box-title">پلن انتخابی و مبلغ صورتحساب شما بصورت زیر است:</div>
                    <div class="thereceipt">
                        <div class="title">
                            پلن انتخابی شما:<span id="show-plane-name">3 ماهه</span>
                        </div>
                        <div class="row">
                            <span>مبلغ اصلی:</span>
                            <div id="show-plane-price">10.000<span>تومان</span></div>
                        </div>
                        <div class="row">
                            <span>تخفیف:</span>
                            <div id="show-promo">1.000<span>تومان</span></div>
                        </div>
                        <div class="row">
                            <span>مبلغ قابل پرداخت:</span>
                            <div id="show-payment">9.000<span>تومان</span></div></div>
                    </div><!--thereceipt-->
                </div>
                <div id="promo_code_enter" class="promo-box">
                    <div class="box-title">کد تخفیف دارید؟ اینجا واردش کنید</div>
                    <form method="post" action="" class="promo-form">
                        <input name="promo_code" type="text" class="input">
                        <input  type="submit" value="اعمال کد تخفیف" class="ibtn">
                    </form>
                    <div class="error" style="display:none">
                        کد تخفیف نا معتبر می‌باشد
                    </div>
                    <div class="success" style="display:none">
                        <h6>کد تخفیف معتبر است!</h6>
                        <div class="row">نهاد همکار:<span class="partner">گروه شاتل</span></div>
                        <div class="row">مبلغ نهایی فاکتور:<span class="final_price">۱۵۲۰۰</span> تومان</div>
                    </div>
                </div><!--promo-box-->
                <div class="termsofuse">
                    <input type="checkbox" id="termsofuse">
                    <a href="http://www.PROJECT.ir/tos" target="_blank">شرایط و مقررات استفاده</a>
                    <label for="termsofuse">از اپفورال را مطالعه کرده و با آن موافقم.</label>
                </div>
                <div class="payment-box">
                    <div class="box-title">با ورود به درگاه بانک مبلغ صورتحساب خود را پرداخت نمایید</div>
                    <a href="" class="ibtn gotopay">پرداخت صورتحساب</a>
                </div><!--payment-box-->
						</div><!--invoice-sec-->
				</div>
				<div class="col-1-6">
                    <div class="left-col">
                    <div class="cards-text">شما با داشتن کارت بانکی از هر کدام از بانک‌های کشور می‌توانید پرداخت آنلاین انجام دهید. ملی، صادرات، ملت، پاسارگاد و سامان و بقیه همگی قبولند!</div>
                    <div class="bank-cards"></div>
                    <a href="https://www.PROJECT.ir/blog/1393/08/%D8%A7%D9%85%D9%86%DB%8C%D8%AA-%D8%AF%D8%B1-%D9%BE%D8%B1%D8%AF%D8%A7%D8%AE%D8%AA-%D8%A7%DB%8C%D9%86%D8%AA%D8%B1%D9%86%D8%AA%DB%8C/">اگر تا به حال پرداخت اینترنتی انجام نداده اید این راهنما را بخوانید</a>
                    </div>
                </div>
		</section>
</section><!--signup-sect3-->
