{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
		<div class="main-body payment-box">

		
			<div class="content-body">
				<div class="level-head">
        	<div class="level-line">
            <div class="base-line">
              <span class="active-line" id="active-line"></span>
            </div>
            <span class="level-circle one active"></span>
            <span class="level-circle two"></span>
            <span class="level-circle tre"></span>
          </div>
          <div class="level-text one active">انتخاب نوع اشتراک</div>
          <div class="level-text two">پرداخت آنلاین</div>
          <div class="level-text tre">لذت ببرید!</div>
        </div><!--level-title-->
        <div class="level-body">
        
					<div class="select-plane-slide" id="slide-1">
          	<div class="slide-title">لطفا نوع اشتراک خود برای دوره آتی را انتخاب کنید<span class="star">*</span></div>
          	<div class="showallplane">
			
		{% for plan in plans %}
            	<div class="col-1-12 col-2-4">
              	<div class="plane-box {% if plan.recommended %}{{ 'active'}}{%endif%} ">
                  <!--in change plane payment- add this div
                  <div class="currentplan"><span>اشتراک فعلی شما</span></div>
                  -->
                	<div class="title">{{ plan.period_length }} ماهه</div>
                  <span class="ord-line"></span>
                  <div class="body">
			<div class="plane-price">{{plan.price}} هزار تومان</div>
                    <div>بدون محدودیت دانلود</div>
                	</div>
                  <div class="planesubmit" id="planebtn_{{plan.iter}}" data-active="#radioplan{{plan.iter}}" data-price="{{plan.price_unformatted}}" data-discount="{{plan.discount}}" data-orig-price="{{plan.orig_price}}" data-period="{{plan.period_length}}">انتخاب</div>
                </div><!--plane-box-->
              </div>
		{% endfor %}
  

            </div><!--showallplane-->  
            <div class="slide-error" style="">لطفا یکی از دوره‌های اشتراک بالا را انتخاب کنید</div>
						<div class="slide-subtitles"><span class="star">*</span>تغییر دوره اشتراک شما با پایان دوره فعلی انجام میگیرد. برای توضیحات بیشتر به بخش <a href="http://PROJECT.ir/faq" target="_blank">سوالات متداول</a> مراجعه کنید</div>
            <div class="slidebottom-box">
							<input type="hidden" name="active-plan" id="active-plan-value" value="2" />
          		<div class="next-slide-link" id="gt2lvl">مرحله بعد</div>
            </div><!--slidebottom-box-->
          </div><!--select-plane-slide-->
          
          <div class="select-bank-slide" id="slide-2">
          	<div class="slide-title">دوره اشتراک و مبلغ صورتحساب شما بصورت زیر است:</div>
          	<div class="receipt">
							<div class="receipt-title">پلن انتخابی شما:<span id="show-plane-name"><span class="period"></span> ماهه</span></div>
							<div class="receipt-row"><span>مبلغ اصلی:</span><div id="show-plane-price">10.000</div></div>
							<div class="receipt-row"><span>تخفیف:</span><div id="show-promo">1.000</div></div>
							<div class="receipt-row"><span>مبلغ قابل پرداخت:</span><div id="show-payment">9.000</div></div>
						</div><!--receipt-->
            
            <div id="promo_code_enter" class="promo-code-box">
              <span class="promo-title">کد تخفیف دارید؟ اینجا واردش کنید:</span>
              <div class="promo-code-form">
                <form>
                  <input type="text" name="promo_code" />
                  <input type="submit" value="ثبت" />
                </form>
              </div>
              <div class="slide-error" style="display:none;">
                کد تخفیف نا معتبر می‌باشد
              </div>
              <div class="slide-success" style="display:none;">
                <span class="title">کد تخفیف معتبر است!</span>
                نهاد همکار:<span class="partner">گروه شاتل</span><br />
                مبلغ نهایی فاکتور:<span class="final_price">۱۵۲۰۰</span> تومان
              </div>
            </div>
            
            <div class="hidebankpay" style="display:none">
              <p> بر اساس کد تخفیفی که وارد کرده‌اید نیازی به پرداخت آنلاین ندارید. لطفا مراحل ثبت نام را ادامه دهید.</p>
              <a href="{{invoice.invoice_url}}" class="invoice_pay_url_free more-link">ادامه</a>
            </div>

            <div class="unablepaytitle" style="display:{{payment_availablity}}">در حال حاضر امکان پرداخت بانکی از طرف بانک عامل ممکن نمی باشد.</div>
			{% if payment_availablity == "none" %}
            <div class="banks-logo-box">
           		<div class="gotobankstitle"> با کلیک روی لوگوی یکی از بانک‌ها پرداخت خود را از طریق درگاه آن بانک و بصورت کاملا امن انجام دهید</div>
              <a href="" class="logo-box bank-pasargad disable"><span>در حال حاضر این بانک فعال نیست</span></a>
            	<a href="{{invoice.invoice_url}}" id="invoice_pay_url_mellat" class="logo-box bank-melat"></a>
              <a href="" class="logo-box bank-saman disable">
              <span>در حال حاضر این بانک فعال نیست</span></a>
            </div>
			{%endif%}
			
            <div class="termsofuse">
							<input type="checkbox" id="termsofuse"><a href="http://www.PROJECT.ir/tos" target="_blank">شرایط و مقررات استفاده</a> از اپفورال را مطالعه کرده و با آن موافقم.
            </div>
						<div class="bottom-line">
							<a href="" class="prew-slide">بازگشت به مرحله قبل</a>
            </div>
            
          </div><!--select-plane-slide-->
          
        </div><!--level-body-->
			</div><!--content-body-->
      
      
    
		</div><!--payment-box-->
{% endblock %}

{% block customJS %}
<script src="{% static 'js/register.js' %}"></script>
{% endblock %}
