<!DOCTYPE html>
<html><head>
    <title>اپ فروس : اپ هاب موجود در اپ فروش</title>
    <meta charset="UTF-8">
    <meta name="author" value="Vahid Ktereshipour">
    <meta name="robots" content="INDEX,FOLLOW">
    
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-capable" content="yes">
    
    <meta property="og:site_name" content="اپ فروش"/>
    <meta property="og:title" content="اپ فروش : دسترسی آسان به اپ های اپ استور"/>
    <meta property="og:description" content="بدون هیچ محدودیتی به اپ های اپ استور دسترسی داشته باشید و از ان لذت ببریز" /> 
    <meta property="og:url" content="http://PROJECT.com/"/>
    <meta property="og:type" content="website"/>

    <link rel="icon" type="image/png" href="/favicon_v2.png">
    <link href="css/style.css" media="all" type="text/css" rel="stylesheet">
    <link href="css/reg_style.css" media="all" type="text/css" rel="stylesheet">
    <link href="css/jquery.selectbox.css" type="text/css" rel="stylesheet" />
	<script src="js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="js/jquery.selectbox.js" type="text/javascript"></script>
    <script src="js/jquery.slides.js"></script>
	<script src="js/script.js"></script>
</head>
<body>
<!--
<header>
<div id="headerfull">
	<div id="head">
    	<ul id="menu">
        	<li class="active"><a href="#introduction">معرفی</a></li>
            <li><a href="#problem">مشکلات</a></li>
            <li><a href="#solution">راه حل</a></li>
            <li><a href="#register">ثبت نام</a></li>
            <li><a href="#appsvitrin">برنامه ها</a></li>
            <li><a href="#newslatter">خبرنامه</a></li>
        </ul>
    </div>
</div>
<div class="headerline"></div>
</header>
-->

    <div id="register-slide"></div>
    <section id="register"><div class="content">
    
    <div id="register-block">
		<div id="register-step-level">
            <div class="step-line-space">
            	<div class="step-line"><div class="step-line-active full"></div></div>
            </div>
			<ul>
				<li class="step-1 step-success"><div></div></li>
				<li class="step-2 step-success"><div></div></li>
				<li class="step-3 step-success"><div></div></li>
				<li class="step-4 step-success"><div></div></li>
			</ul>
			<div class="step-title">
				<span class="step-1 step-active">ثبت نام</span>
				<span class="step-2 step-active">انتخاب پلن</span>
				<span class="step-3 step-active">پرداخت بانکی</span>
				<span class="step-4 step-active">از اپفروش لذت ببرید</span>
			</div>
		</div><!--register-step-level-->  
            
        <div id="register-step-body">   
		<div id="reg-infographic-box"></div>
        
        <div id="register-box">             
            <div id="steps-content">       
                <div class="slide bank-back" id="slide4" style="display:block">
                <div>پرداخت با موفقیت انجام شد و ایمیل برا شما ارسال شد</div>
                </div><!--slide4-->
            </div><!--steps-content-->                
        </div><!--register-box-->
        
        </div><!--register-step-body--> 
	</div><!--register-block-->
    </div></section><!--register-->

<footer>
</footer><!-- footer -->

</body>
</html>
